$blue:#5555ec;
$light-blue: #7d7dec;
$dark-blue:#090983;


$color-tertiary-light:#7ed56f;
$color-tertiary-dark:#28b485;

$color-primary:rgb(51, 51, 224);
$color-primary-light:#2998ff;
$color-primary-dark:#5643fa;

$color-black:#000;
$color-white:#fff;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$default-font-size:1.6rem;