@import 'scss/basics//variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}


.app-header {
    color: white;
    height: 75vh;
    z-index: 4;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url('assets/img/header-bg.jpg');
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%); // for all browsers
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}



@import './scss/basics/helpers';
@import './scss/basics/types';
@import './scss/basics/animation';
@import './scss/basics/variables';
@import './components/Hero/Hero.scss'